{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="membership-img h-50">
        <div class="container h-100">
            <div class="row"> 
                <div class="col text-center mt-3">
                    <h2 class="text-white title-font font-weight-bold">Membership</h2>
                </div>
            </div>
            <div class="row h-100">
                <div class="col-10 col-md-5 my-auto">
                    <h6 class="title-font text-white text-uppercase">Join the club!</h6>
                    <h4 class="text-white">We have different membership options to suit your needs. Sign up now and get instant access to routes.</h4>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="membership-container col-12">
                <div class="row mt-4">
                    {% for membership in memberships %}
                        <div class="col-sm-12 col-md-6 col-lg-4 my-3 card-container">
                            <div class="card membership-card mx-auto">
                                <div class="card-body p-3 bg-black title-font text-white text-lg">
                                    <p class="my-auto">{{ membership.friendly_name }}</p>
                                </div>
                                <hr class="card-divider w-100 bg-orange">
                                <div class="card-footer bg-black text-white pt-1 px-3">
                                    <div class="row">
                                        <div class="col">
                                            <p class="membership-desc my-2 mx-2"><i class="fas fa-edit mr-1"></i>{{ membership.description }}</p>
                                            <p class="mt-2 mx-2"><i class="fas fa-coins mr-1"></i>Price: €{{ membership.price }} / month</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-center">
                                            <a href="{% url 'add_to_basket' membership.id %}" class="btn rounded-pill text-uppercase py-2 membership-btn mb-2">Add to basket</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}