{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="homepage-photo1">
        <div class="container h-100 ">
            <div class="row h-100">
                <div class="col-10 col-md-5 my-auto">
                    <h6 class="title-font text-black text-uppercase">Welcome to route share</h6>
                    <h3 class="text-black">Come and join the cycle route sharing community!</h3>
                    <div class="my-5">
                        <h6>
                            <a href="" class="btn rounded-pill text-uppercase py-3 callout-btn title-font">Find a Route</a>
                        </h6>
                        <h6>
                            <a href="" class="btn rounded-pill text-uppercase py-3 callout-btn title-font">Sign Up</a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}