{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mb-2">
        <div class="row"> 
            <div class="col text-center mt-3">
                <h2 class="title-font font-weight-bold">Route Management</h2>
                <h4 class="title-font">Add a Route</h4>
                <hr class="w-50 mb-3">
            </div>
        </div>

        <div class="row">
        
            <div class="col-12 col-lg-6 order-lg-last mb-3">
                <div class="instructions-container bg-black text-white p-0 rounded-wrapper">
                    <div class="instructions-head p-3">
                        <h4 class="pt-1">
                            <span class="icon">
                                <i class="fas fa-info-circle"></i>
                            </span>
                            Instructions
                        </h4>
                        <p>Please use
                            <a href="https://www.google.com/maps" target="_blank">Google Maps<span class="icon"><i class="fas fa-external-link-alt"></i></span></a>
                            desktop version to create your route as it will not 
                            be possible to access the route code in the mobile version.
                        </p>
                    </div>
                    <hr class="card-divider w-100 bg-orange">
                    <div class="instructions-body p-3">
                        <p>For a full list of instructions on how to create your Google Map 
                            route, and get the route code to enter into this form, please click <a href="{% url 'add_instructions' %}" target="_blank">here<span class="icon"><i class="fas fa-external-link-alt"></i></span></a>.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <form method="POST" action="{% url 'add_route' %}" class="bg-black text-white p-3 rounded-wrapper" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="bg-black pt-1">
                        <legend class="fieldset_label px-3 w-auto text-white">
                            <span class="icon">
                                <i class="fas fa-route"></i>
                            </span>
                            Route Info
                        </legend>
                            {{ form|crispy }}
                    </fieldset>
                    <div class="text-right">
                        <a href="{% url 'home' %}" class="btn btn-outline-orange rounded-pill mt-2">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Back to Home</span>
                        </a>
                        <button class="btn btn-orange rounded-pill mt-2" type="submit">
                            <span class="text-uppercase">Add Route</span>
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to ${file.name}`)
        })
    </script>
{% endblock %}