{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if route.image %}
                        <a href="{{ route.img.url }}" target="_blank">
                            <img class="detail-img" src="{{ route.image.url }}" alt="{{ route.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="detail-img border-0" src="{{ MEDIA_URL }}noimage.png" alt="{{ route.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="route-detail-container mb-5 mt-md-5">
                    <h5 class="title-font mb-3">{{ route.name }}</h5>
                    <p class="mb-0 text-left"><i class="fas fa-map-marker-alt mr-1"></i>{{ route.length }}km</p>
                    <p class="mb-0 text-left">
                        <a class="text-black" href="">
                            <i class="fas fa-flag mr-1"></i>{{ route.country.name }}
                        </a>
                    </p>
                    {% if route.route_type %}
                    <p class="small mb-0 text-left">
                        <a class="text-muted" href="{% url 'routes' %}?route_type={{ route.route_type.name }}">
                            <i class="fas fa-route mr-1"></i>{{ route.route_type.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if route.bike_type %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'routes' %}?bike_type={{ route.bike_type.name }}">
                            <i class="fas fa-biking mr-1"></i>{{ route.bike_type.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if route.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ route.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <p class="mt-3">{{ route.description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}