{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if route.image %}
                        <a href="{{ route.img.url }}" target="_blank">
                            <img class="detail-img rounded-wrapper" src="{{ route.image.url }}" alt="{{ route.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="detail-img border-0" src="{{ MEDIA_URL }}noimage.png" alt="{{ route.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="route-detail-container mb-5 mt-md-5">
                    <h5 class="title-font mb-3">{{ route.name }}</h5>
                    <p class="mb-0 text-left"><i class="fas fa-map-marker-alt mr-1"></i>{{ route.length }}km</p>
                    <p class="mb-0 text-left">
                        <a class="text-black" href="{% url 'routes' %}?country={{ route.country }}">
                            <i class="fas fa-flag mr-1"></i>{{ route.country.name }}
                        </a>
                    </p>
                    {% if route.route_type %}
                    <p class="small mb-0 text-left">
                        <a class="text-muted" href="{% url 'routes' %}?route_type={{ route.route_type.name }}">
                            <i class="fas fa-route mr-1"></i>{{ route.route_type.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if route.bike_type %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'routes' %}?bike_type={{ route.bike_type.name }}">
                            <i class="fas fa-biking mr-1"></i>{{ route.bike_type.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if route.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ route.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}

                    <!-- Only Users who added the route can edit/delete the route -->
                    {% if request.user == route.user %}
                    <div>
                        <a href="{% url 'edit_route' route.id %}" class="text-info mt-2 mr-2">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span>Edit Route</span>
                        </a>|
                        <a id="delete-confirm" class="text-danger mt-2 pointer">
                            <span class="icon ml-1">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                            <span>Delete Route</span>
                        </a>
                    </div>
                    {% endif %}
                    <p class="mt-3">{{ route.description }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid h-50">
        <div class="row h-100"> 
            <div class="col-12 col-lg-8 offset-lg-2">
                <div class="map-responsive rounded-wrapper h-100">
                    <!-- autoescape tag found on stackoverflow to render html entered into the form -->
                    {% autoescape off %}
                        {{ route.map_url }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap modal for delete route confirmation -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="delete-modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content bg-black text-white rounded-wrapper">
            <div class="modal-header">
                <h6 class="modal-title" id="myModalLabel">Are you sure you want to delete this route?</h6>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-footer">
                <a href="{% url 'route_detail' route.id %}" class="btn btn-outline-orange rounded-pill">
                            <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="mr-2">Cancel</span>
                </a>
                <a href="{% url 'delete_route' route.id %}" class="btn btn-orange rounded-pill">
                    <span class="icon ml-1">
                        <i class="fas fa-trash-alt"></i>
                    </span>
                    <span class="mr-2">Delete</span>
                </a>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        // Bootstrap modal for delete route confirmation
        var modalConfirm = function(callback){
            $("#delete-confirm").on("click", function(){
                $("#delete-modal").modal('show');
            });
        };
        modalConfirm(function(confirm){
        });
    </script>
{% endblock %}