{% extends "base.html" %}
{% load static %}
{% block extra_title %}My Routes{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row"> 
            <div class="col text-center mt-3">
                <h2 class="title-font font-weight-bold">My Routes</h2>
                <hr class="w-50 mb-3">
            </div>
        </div>
        <div class="row">
            <div class="route-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-100">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-pill bg-black text-white {% if current_sorting != 'None_None' %}border-orange {% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="length_desc" {% if current_sorting == 'length_desc' %}selected{% endif %}>Length (high to low)</option>
                                <option value="length_asc" {% if current_sorting == 'length_asc' %}selected{% endif %}>Length (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="bike_type_asc" {% if current_sorting == 'bike_type_asc' %}selected{% endif %}>Bike Type (A-Z)</option>
                                <option value="bike_type_desc" {% if current_sorting == 'bike_type_desc' %}selected{% endif %}>Bike Type (Z-A)</option>
                                <option value="country_asc" {% if current_sorting == 'country_asc' %}selected{% endif %}>Country (A-Z)</option>
                                <option value="country_desc" {% if current_sorting == 'country_desc' %}selected{% endif %}>Country (Z-A)</option>
                                <option value="route_type_asc" {% if current_sorting == 'route_type_asc' %}selected{% endif %}>Route Type (A-Z)</option>
                                <option value="route_type_desc" {% if current_sorting == 'route_type_desc' %}selected{% endif %}>Route Type (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-center mt-3 text-muted text-md-left">
                            {% if search_term or current_biketypes or current_countries or current_route_types or current_sorting != 'None_None' %}
                                <span><a class="text-orange" href="{% url 'routes' %}">Back to All Routes</a> | </span>
                            {% endif %}
                            {{ saved_routes|length }} {% if saved_routes|length == 1 %}Route{% else %}Routes{% endif %}{% if saved_routes %} found for <strong>"{{ request.user }}"</strong>
                                {% elif current_biketypes %} found for <strong>{% for bike in current_biketypes %}{{ bike.friendly_name }}{% endfor %}</strong>
                                {% elif current_countries %} found for <strong>{% for country in current_countries %}{{ country }}{% endfor %}</strong>
                                {% elif current_route_types %} found for <strong>{% for type in current_route_types %}{{ type.friendly_name }}{% endfor %}</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% if saved_routes %}
                        {% for route in saved_routes %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-5">
                            <div class="card h-100 border-0">
                                {% if route.image %}
                                    <a href="{% url 'route_detail' route.id %}">
                                        <img class="card-img" src="{{ route.image.url }}" alt="{{ route.name }}">
                                    </a>
                                {% else %}
                                    <a href="{% url 'route_detail' route.id %}">
                                        <img class="card-img border-0" src="{{ MEDIA_URL }}noimage.png" alt="{{ route.name }}">
                                    </a>
                                {% endif %}
                                <div class="card-body p-3 bg-black text-white title-font my-auto">
                                    <p class="mb-0">{{ route.name }}</p>
                                </div>
                                <hr class="card-divider w-100 bg-orange">
                                <div class="card-footer bg-black text-white pt-1 px-3 border-0">
                                    <div class="row">
                                        <div class="col mt-1">
                                            <p class="mb-0"><i class="fas fa-map-marker-alt mr-1"></i>{{ route.length }}km</p>
                                            <p class="mb-0">
                                                <a class="text-white" href="{% url 'routes' %}?country={{ route.country }}">
                                                    <i class="fas fa-flag mr-1"></i>{{ route.country.name }}
                                                </a>
                                            </p>
                                            {% if route.route_type %}
                                            <p class="mb-0 small">
                                                <a class="text-muted" href="{% url 'routes' %}?route_type={{ route.route_type.name }}">
                                                    <i class="fas fa-route mr-1"></i>{{ route.route_type.friendly_name }}
                                                </a>
                                            </p>
                                            {% endif %}
                                            {% if route.bike_type %}
                                            <p class="mb-0 small">
                                                <a class="text-muted" href="{% url 'routes' %}?bike_type={{ route.bike_type.name }}">
                                                    <i class="fas fa-biking mr-1"></i>{{ route.bike_type.friendly_name }}
                                                </a>
                                            </p>
                                            {% endif %}
                                            {% if route.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ route.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="col">
                            <p>You currently have no routes...</p>
                                    <a href="{% url 'routes' %}" class="btn rounded-pill btn-outline-orange">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class=" text-uppercase pr-2">Back to routes</span>
                            </a>
                        </div>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm bg-orange float-right">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-white mx-auto my-auto"></i>
        </a>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}

    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>

    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != 'reset'){
                var selectorSplit = selectedVal.lastIndexOf('_')
                var sort = selectedVal.substring(0, selectorSplit);
                var direction = selectedVal.substring(selectorSplit + 1);

                currentUrl.searchParams.set('sort', sort);
                currentUrl.searchParams.set('direction', direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete('sort');
                currentUrl.searchParams.delete('direction');

                window.location.replace(currentUrl);
            }
        })
    </script>

{% endblock %}
