{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row"> 
            <div class="col text-center mt-3">
                <h2 class="title-font font-weight-bold">Thank You</h2>
                <hr class="w-50 mb-3">
                <p class="text-black">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong></p>
            </div>
        </div>

        <div class="row">
            <div class="col col-lg-7">
                <div class="rounded-wrapper bg-black p-3">
                    <div class="row">
                        <div class="col">
                            <p class="text-muted mb-1">Order Details:</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-white font-weight-bold">Order Number</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="mb-0 text-white order-number">{{ order.order_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-white font-weight-bold">Membership Type</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="mb-0 text-white">{{ order.membership.friendly_name }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-white font-weight-bold">Order Date</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="mb-0 text-white">{{ order.date }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <p class="text-muted mt-2 mb-1">Customer Info:</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-white font-weight-bold">Full Name</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="mb-0 text-white">{{ order.full_name }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-white font-weight-bold">Address 1</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="mb-0 text-white">{{ order.street_address1 }}</p>
                        </div>
                    </div>

                    {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-white font-weight-bold">Address 2</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="mb-0 text-white">{{ order.street_address2 }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-white font-weight-bold">Town or City</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="mb-0 text-white">{{ order.town_or_city }}</p>
                        </div>
                    </div>

                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-white font-weight-bold">Postcode</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="mb-0 text-white">{{ order.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-white font-weight-bold">Country</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="mb-0 text-white">{{ order.country }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-white font-weight-bold">Email Address</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="mb-0 text-white">{{ order.email }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <p class="text-muted mt-2 mb-1">Billing Info:</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-white font-weight-bold">Order Total</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="mb-0 text-white">€{{ order.order_total }} / Month</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-7 text-right">
                <a href="{% url 'routes' %}" class="btn btn-orange rounded-pill my-2">
                <span class="icon mr-2">
                    <i class="fas fa-biking"></i>
                </span>
                <span class="text-uppercase">Now check out the routes!</span>
            </a>
            </div>
        </div>
{% endblock %}