{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row"> 
            <div class="col text-center mt-3">
                <h2 class="title-font font-weight-bold">Forum</h2>
                <hr class="w-50 mb-3">
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
        
            <div class="col-12 col-md-4 order-md-last">
                <div class="bg-black text-white rounded-wrapper mb-2">
                    <div class="row p-3">
                        <div class="col">
                            <h4 class="mb-0">Forum Rules</h4>
                        </div>
                    </div>
                    <hr class="card-divider w-100 bg-orange">
                    <div class="row p-3">
                        <div class="col">
                            <ul class="pl-3">
                                <li>Keep it clean</li>
                                <li>Respect each other</li>
                                <li>No spamming the forum</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="{% url 'add_post' %}" class="btn btn-orange rounded-pill mt-2 mb-5">
                    <span class="text-uppercase pl-2">Create Post</span>
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                </a>
            </div>

            <div class="col-12 col-md-8">
                {% for post in forum_posts %}
                    <div class="post-container bg-black text-white rounded-wrapper mb-5">
                        <div class="row p-3">
                            <div class="col">
                                <h4 class="mb-0">
                                    <span class="icon">
                                    <i class="fas fa-pen-alt"></i>
                                </span>
                                <strong>Title:</strong> {{ post.title }}
                            </h4>
                            </div>
                        </div>
                        <hr class="card-divider w-100 bg-orange">
                        <div class="row p-3">
                            <div class="col">
                                <span class="icon">
                                        <i class="fas fa-file-alt"></i>
                                    </span>
                                <p class="minimize d-inline">
                                    <strong>Post:</strong> {{ post.post }}
                                </p>
                                <p class="small mt-3">
                                    <span class="icon">
                                        <i class="fas fa-user"></i>
                                    </span>Posted by: {{ post.post_user }} on {{ post.post_date }}
                                </p>
                                <a href="{% url 'view_post' post.id %}" class="text-link">
                                    <span class="icon">
                                        <i class="fas fa-comments"></i>
                                    </span>
                                    View Comments
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

    <div class="btt-button shadow-sm bg-orange float-right">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-white mx-auto my-auto"></i>
        </a>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
        <!-- Function to reveal and hide more of the post found on
            http://jsfiddle.net/iambriansreed/bjdSF/ -->
        <script type="text/javascript">
            jQuery(function(){
                var minimized_elements = $('p.minimize');
                minimized_elements.each(function(){    
                    var t = $(this).text();        
                    if(t.length < 100) return;
                    
                    $(this).html(
                        t.slice(0,100)+'<span>... </span><a href="#" class="more text-link">More</a>'+
                        '<span style="display:none;">'+ t.slice(100,t.length)+' <a href="#" class="less text-link">Less</a></span>'
                    );
                    
                }); 
                $('a.more', minimized_elements).click(function(event){
                    event.preventDefault();
                    $(this).hide().prev().hide();
                    $(this).next().show();        
                });
                $('a.less', minimized_elements).click(function(event){
                    event.preventDefault();
                    $(this).parent().hide().prev().show().prev().show();    
                });
            });
        </script>

        <script type="text/javascript">
            $('.btt-link').click(function(e) {
                window.scrollTo(0,0)
            })
        </script>
{% endblock %}