{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row"> 
            <div class="col text-center mt-3">
                <h2 class="title-font font-weight-bold">Forum</h2>
                <hr class="w-50 mb-3">
            </div>
        </div>
    </div>
    
    <div class="btt-button shadow-sm bg-orange float-right">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-white mx-auto my-auto"></i>
        </a>
    </div>
{% endblock %}
