{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row"> 
            <div class="col text-center mt-3">
                <h2 class="title-font font-weight-bold">Forum</h2>
                <hr class="w-50 mb-2">
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="post-container bg-black text-white rounded-wrapper mb-3">
                    <div class="row p-3">
                        <div class="col">
                            <h4 class="mb-0">
                                <span class="icon">
                                    <i class="fas fa-pen-alt"></i>
                                </span>
                                <strong>Title:</strong> {{ post.title }}
                            </h4>
                        </div>
                    </div>
                    <hr class="card-divider w-100 bg-orange">
                    <div class="row p-3">
                        <div class="col">
                            <p class="d-inline">
                                <span class="icon">
                                    <i class="fas fa-file-alt"></i>
                                </span>
                                <strong>Post:</strong> {{ post.post }}
                            </p>
                            <p class="small mt-3">
                                <span class="icon">
                                    <i class="fas fa-user mr-0 pr-0"></i>
                                </span>Posted by: 
                                {{ post.post_user }} on {{ post.post_date }}
                            </p>

                            <!-- Only Users who added the post can edit/delete the post -->
                            {% if request.user == post.post_user %}
                            <div>
                                <a href="{% url 'edit_post' post.id %}" class="text-info mt-2 mr-2">
                                    <span class="icon">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                    <span>Edit Post</span>
                                </a>|
                                <a id="delete-post-confirm" class="text-danger mt-2 pointer">
                                    <span class="icon ml-1">
                                        <i class="fas fa-trash-alt"></i>
                                    </span>
                                    <span>Delete Post</span>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 offset-md-4 col-md-8">
                
                <h4 class="title-font font-weight-bold mt-3">
                    <span class="icon">
                        <i class="fas fa-comments"></i>
                    </span>
                        Comments
                </h4>
                <hr class="w-100 mb-3">
                
                {% if post_replies %}
                    {% for reply in post_replies %}
                    <div class="post-container bg-grey text-white rounded-wrapper my-4">
                        <div class="row">
                            <div class="col mx-3 my-2">
                                <p class="small m-0">
                                    <span class="icon">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <strong>Posted by:</strong> {{ reply.reply_user }} on {{ reply.reply_date }}
                                </p>
                            </div>
                        </div>
                        <hr class="card-divider w-100 bg-orange">
                        <div class="row">
                            <div class="col m-3">
                                <span class="icon">
                                    <i class="fas fa-comment-dots"></i>
                                </span>
                                <p class="minimize d-inline">
                                    <strong>Reply:</strong> {{ reply.reply }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <h6 class="text-black mb-4">There are no replies for this post yet...</h6>
                {% endif %}
                
                <form method="POST" action="{% url 'view_post' post.id %}" class="bg-grey text-white p-3 rounded-wrapper">
                    {% csrf_token %}
                    <fieldset class="bg-grey pt-1">
                        <legend class="fieldset_label px-3 w-auto text-white">
                            <span class="icon">
                                <i class="fas fa-comments mr-2"></i>
                            </span>
                            Post Reply
                        </legend>
                            {{ form|crispy }}
                    </fieldset>
                    <div class="text-right">
                        <a href="{% url 'forum' %}" class="btn btn-outline-orange rounded-pill mt-2">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase pr-2">Back to Forum</span>
                        </a>
                        <button class="btn btn-orange rounded-pill mt-2" type="submit">
                            <span class="text-uppercase pl-2">Add Reply</span>
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="btt-button shadow-sm bg-orange float-right">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-white mx-auto my-auto"></i>
        </a>
    </div>

    <!-- Bootstrap modal for delete route confirmation -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="delete-post-modal">
        <div class="modal-dialog">
            <div class="modal-content bg-black text-white rounded-wrapper">
            <div class="modal-header">
                <h6 class="modal-title" id="myModalLabel">Are you sure you want to delete this post and all associated comments?</h6>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-footer">
                <a href="{% url 'view_post' post.id %}" class="btn btn-outline-orange rounded-pill">
                            <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="mr-2 text-uppercase pr-2">Cancel</span>
                </a>
                <a href="{% url 'delete_post' post.id %}" class="btn btn-orange rounded-pill">
                    <span class="icon ml-1">
                        <i class="fas fa-trash-alt"></i>
                    </span>
                    <span class="mr-2 text-uppercase pl-2">Delete</span>
                </a>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
        <!-- Function to reveal and hide more of the post found on
            http://jsfiddle.net/iambriansreed/bjdSF/ -->
        <script type="text/javascript">
            jQuery(function(){
                var minimized_elements = $('p.minimize');
                minimized_elements.each(function(){    
                    var t = $(this).text();        
                    if(t.length < 100) return;
                    
                    $(this).html(
                        t.slice(0,100)+'<span>... </span><a href="#" class="more text-link">More</a>'+
                        '<span style="display:none;">'+ t.slice(100,t.length)+' <a href="#" class="less text-link">Less</a></span>'
                    );
                    
                }); 
                $('a.more', minimized_elements).click(function(event){
                    event.preventDefault();
                    $(this).hide().prev().hide();
                    $(this).next().show();        
                });
                $('a.less', minimized_elements).click(function(event){
                    event.preventDefault();
                    $(this).parent().hide().prev().show().prev().show();    
                });
            });
        </script>

        <script type="text/javascript">
            $('.btt-link').click(function(e) {
                window.scrollTo(0,0)
            })
        </script>

        <script type="text/javascript">
            // Bootstrap modal for delete post confirmation
            var modalConfirm = function(callback){
                $("#delete-post-confirm").on("click", function(){
                    $("#delete-post-modal").modal('show');
                });
            };
            modalConfirm(function(confirm){
            });
        </script>

{% endblock %}