html {
    height: 100%;
}

body {
    color: #000;
    font-family: 'Roboto';
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* This helps to push footer to bottom when little content, found on stack overflow */
section {
    flex: 1 0 auto;
}
    
/* ---------------------------- Homepage */

.img-fluid {
    width: 100vw;
}

img.break-img {
    opacity: 0.1;
    padding: 30px;
}

.homepage-photo4 {
    margin-bottom: -3rem;
}

.info-container {
    padding: 30px;
    background-color: rgb(48, 47, 47);
    opacity: 0.8;
    border-radius: 20px;
}

.homepage-photo1 {
    background: url('/media/homepage10.jpg') no-repeat center center fixed;
    background-position: top;
    background-size: cover;
    height: 100vh;
}

.homepage-photo2 {
    background: url('/media/homepage2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.homepage-photo3 {
    background: url('/media/homepage11.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.homepage-photo4 {
    background: url('/media/homepage3.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

/* Underline hover effect on main navbar found on codepen */
a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 0;
  background: transparent;
}

.hover-centre:after {
  transition: width .5s ease, background-color .5s ease, left .5s ease;
}

.hover-centre:hover:after {
  width: 100%;
  left: 0;
  background: rgb(170, 89, 22)
}

.navbar-toggler {
    border: none;
}

/* ------------------------- Footer */

/* This helps to push footer to bottom when little content, found on stack overflow */
footer {
    flex-shrink: 0;
}

.footer-link:hover {
    color: rgb(170, 89, 22) !important;
}

.footer-link {
    transition: color 0.5s ease-in-out;
}

.footer-hr {
    width: 200px;
}

/* ------------------------- Site icons */

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.search-icon {
    right: 0;
    z-index: 1050;
}

/* From stack overflow. Change burger icon to X when toggled */
.navbar-toggler>.close {
    display: inline;
}
.navbar-toggler.collapsed>.close, 
.navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display: none;
}

.close {
    color: rgb(170, 89, 22);
    text-shadow: none;
    opacity: 1;
}

/*-------------------- Buttons, colours and fonts */

.title-font {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.callout-btn {
    background-color: rgb(170, 89, 22);
    color: white;
    min-width: 260px;
}

.membership-btn {
    background-color: rgb(170, 89, 22);
    color: white;
    min-width: auto;
    font-size: 15px;
}

.btn-orange {
    background-color: rgb(170, 89, 22);
    color: white;
}

.btn-outline-orange {
    background-color: white;
    color: rgb(170, 89, 22) !important;
    border: 1px solid rgb(170, 89, 22);
}

.border-orange {
    border-width: 2px;
    border-color: rgb(230, 124, 38) !important;
}

.pointer {
    cursor: pointer;
}

.btn-outline-orange:hover,
.btn-outline-orange:active,
.btn-outline-orange:focus {
    background: rgb(170, 89, 22);
    color: white !important;
}

.callout-btn:hover, .membership-btn:hover,
.callout-btn:active, .membership-btn:active,
.callout-btn:focus, .membership-btn:focus,
.btn-orange:hover, .btn-orange:active,
.btn-orange:focus {
    background-color: rgb(230, 124, 38);
    color: white;
}

.text-white {
    color: #fff !important;
}

.text-orange {
    color: rgb(170, 89, 22) !important;
}

.text-link {
    color: #c86815;
    transition: color 0.5s ease-in-out;

}
.text-link:hover {
    color: #ffffff;
    text-decoration: none;
}

.text-black {
    color: #000 !important;
    opacity: 1 !important;
}

.bg-black {
    background-color: rgb(48, 47, 47) !important;
}

.bg-orange {
    background-color: rgb(170, 89, 22) !important;
}

.bg-grey {
    background-color: rgb(80, 82, 81);
}

.bg-white {
    background-color: #fff;
}

/* found this tip on stackoverflow on how to change toggler icon to different colour */
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(170,89,22, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

input[name='q']::placeholder {
    color: #aab7c4;
}


/* -------------------------------- Bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999;
}

.custom-toast {
    overflow: visible
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-top: 4px solid transparent;
    border-left: 15px solid black; 
    border-bottom: 4px solid transparent ;
    position: absolute;
    top: 14px;
    right: -15px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-success {
    border-left-color: #28a745 !important;
}

.arrow-danger {
    border-left-color: #dc3545 !important;
}

.arrow-warning {
    border-left-color: #ffc107 !important;
}

.arrow-info {
    border-left-color: #17a2b8 !important;
}

/* -------------------------------------- Routes Page */

/* object-fit/position found on stackoverflow to contain photos within fixed size but not stretch */
.card-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.detail-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
    border-radius: 0;
}

.card-divider {
    margin: 0;
    height: 2px;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: sticky;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
}

.btt-link {
    cursor: pointer;
    text-decoration: none !important;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.btt-link:hover {
    top: -8px;
}

/* ----------------------------- Route Details */

.route-detail-container {
    min-height: 350px;
}

/* Rendering a responsive google map found on https://www.ostraining.com/blog/coding/responsive-google-maps/ */
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.map-container {
    min-height: 350px;
}

/* -------------------------------- Membership Page */

.membership-img {
    background: url(/media/membership1.jpg) no-repeat center;
    background-size: cover;
    height: 75vh;
}

.membership-card {
    max-width: 90%;
}

.card-top {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.card-footer {
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}

.membership-desc {
    min-height: 100px;
}

/* -------------------------------- Basket Page */

.table thead th {
    vertical-align: bottom;
    border-bottom: 3px solid rgb(170, 89, 22) !important;
}

/* ------------------------------- Checkout success */

.rounded-wrapper {
    border-radius: 20px;
}

/* ------------------------- Edit Route */

.photo-fit {
    object-fit: cover;
    object-position: center;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* ------------------------- Add Route Instructions Page */

.instructions-paragraph {
    padding: 25px 15px 15px 15px;
    margin-bottom: 0;
}

.instruction-desktop-1,
.instruction-desktop-2,
.instruction-desktop-3,
.instruction-desktop-4,
.instruction-desktop-5 {
    display: none;
}

/* ------------------------- Modal */

.modal {
    top: 30%;
}

/* ------------------------- Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-inner-content input {
    border-color: #000;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (max-width: 767px) {
    .nav-link {
        padding: 0.3rem;
    }
    .nav-link i.fa-lg {
        font-size: 1.2rem;
    }
    .nav-toggler {
        padding: 0.6rem 0.6rem;
    }
    .mobile-text {
        font-size: 20px;
    }
    .dropdown-item {
        font-size: 12px;
    }
    .loading-icon {
        font-size: 20px;
    }
    .footer-hr {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .footer-section {
        margin-bottom: 2rem;
    }
    .break-img {
        padding: 15px !important;
    }
}

/* centres the 3rd membership column on medium screens when it wraps */
@media (min-width: 768px) and (max-width: 991px) {
    .card-container:last-child {
        margin: auto;
    }
}

@media (max-width: 365px) {
    .order-number {
        font-size: 12px;
    }
}

@media (max-width: 991px) {
    .fa-2x {
        font-size: 4em;
    }
}

@media (min-width: 767px) {
    .instruction-desktop-1,
    .instruction-desktop-2,
    .instruction-desktop-3,
    .instruction-desktop-4,
    .instruction-desktop-5 {
        display: block;
    }
    .instruction-mobile-1,
    .instruction-mobile-2,
    .instruction-mobile-3,
    .instruction-mobile-4,
    .instruction-mobile-5 {
        display: none;
    }
}