<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="#" class="title-font nav-link text-white mx-auto hover-centre px-4" id="all-routes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Routes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-routes-link">
                <a href="{% url 'routes' %}?sort=country&direction=asc" class="dropdown-item">By Country</a>
                <a href="{% url 'routes' %}?sort=length&direction=desc" class="dropdown-item">By Length</a>
                <a href="{% url 'routes' %}?sort=bike_type&direction=asc" class="dropdown-item">By Bike Type</a>
                <a href="{% url 'routes' %}?sort=route_type&direction=asc" class="dropdown-item">By Route Type</a>
                <a href="{% url 'routes' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'routes' %}" class="dropdown-item">All Routes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="title-font nav-link text-white mx-auto hover-centre px-4" id="popular-countries-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Popular Countries
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="popular-countries-link">
                <a href="{% url 'routes' %}?country=GB" class="dropdown-item">United Kingdom</a>
                <a href="{% url 'routes' %}?country=US" class="dropdown-item">USA</a>
                <a href="{% url 'routes' %}?country=NL" class="dropdown-item">Netherlands</a>
                <a href="{% url 'routes' %}?country=IT" class="dropdown-item">Italy</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="title-font nav-link text-white mx-auto hover-centre px-4" id="bike-type-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bike Types
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bike-type-link">
                <a href="{% url 'routes' %}?bike_type=roadbike" class="dropdown-item">Road Bike</a>
                <a href="{% url 'routes' %}?bike_type=mountainbike" class="dropdown-item">Mountain Bike</a>
                <a href="{% url 'routes' %}?bike_type=hybridebike" class="dropdown-item">Hybride Bike</a>
                <a href="{% url 'routes' %}?bike_type=citybike" class="dropdown-item">City Bike</a>
                <a href="{% url 'routes' %}?bike_type=touringbike" class="dropdown-item">Touring Bike</a>
                <a href="{% url 'routes' %}?bike_type=adventureroadbike" class="dropdown-item">Adventure Road Bike</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="title-font nav-link text-white mx-auto hover-centre px-4" id="route-type-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Route Types
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="route-type-link">
                <a href="{% url 'routes' %}?route_type=one_way" class="dropdown-item">One Way</a>
                <a href="{% url 'routes' %}?route_type=round_trip" class="dropdown-item">Round Trip</a>
            </div>
        </li>

    </ul>
</div>