<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="#" class="title-font nav-link text-white mx-auto hover-centre px-4" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Routes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Country</a>
                <a href="" class="dropdown-item">By Length</a>
                <a href="" class="dropdown-item">By Bike Type</a>
                <a href="" class="dropdown-item">By Route Type</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="{% url 'routes' %}" class="dropdown-item">All Routes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="title-font nav-link text-white mx-auto hover-centre px-4" id="popular-countries-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Popular Countries
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="popular-countries-link">
                <a href="" class="dropdown-item">UK</a>
                <a href="" class="dropdown-item">USA</a>
                <a href="" class="dropdown-item">France</a>
                <a href="" class="dropdown-item">Italy</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="title-font nav-link text-white mx-auto hover-centre px-4" id="bike-type-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bike Types
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bike-type-link">
                <a href="" class="dropdown-item">Road Bike</a>
                <a href="" class="dropdown-item">Mountain Bike</a>
                <a href="" class="dropdown-item">Hybrid Bike</a>
                <a href="" class="dropdown-item">City Bike</a>
                <a href="" class="dropdown-item">Touring Bike</a>
                <a href="" class="dropdown-item">Adventure Road Bike</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="title-font nav-link text-white mx-auto hover-centre px-4" id="route-type-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Route Types
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="route-type-link">
                <a href="" class="dropdown-item">One Way</a>
                <a href="" class="dropdown-item">Round Trip</a>
            </div>
        </li>

    </ul>
</div>