{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}

<h2 class="title-font font-weight-bold text-center mt-3">{% trans "Sign Out" %}</h2>
<hr class="w-50 mb-3">

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
    <button type="submit" class="primaryAction btn btn-orange rounded-pill my-2">
        <span class="text-uppercase pl-2">{% trans 'Sign Out' %}</span>
        <span class="icon">
            <i class="fas fa-sign-out-alt"></i>
        </span>
    </button>
</form>


{% endblock %}
