{% extends "account/base.html" %}
{% block extra_title %}Password Reset{% endblock %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}

    <h2 class="title-font font-weight-bold text-center mt-3">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
    <hr class="w-50 mb-3">

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}" class="bg-black text-white p-3 rounded-wrapper">
                {% csrf_token %}
                <fieldset class="bg-black pt-1">
                    <legend class="fieldset_label px-3 w-auto text-white">
                        <span class="icon">
                            <i class="fas fa-user"></i>
                        </span>
                        User Info
                    </legend>
                {{ form|crispy }}
                </fieldset>
                <div class="text-right">
                    <button type="submit" name="action" class="btn btn-orange rounded-pill my-2">
                        <span class="text-uppercase">{% trans 'change password' %}</span>
                        <span class="icon">
                            <i class="fas fa-key"></i>
                        </span>
                    </button>
                </div>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
