{% extends "account/base.html" %}
{% block extra_title %}Set Password{% endblock %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}

    <h2 class="title-font font-weight-bold text-center mt-3">{% trans "Set Password" %}</h2>
    <hr class="w-50 mb-3">

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set bg-black text-white p-3 rounded-wrapper">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
