{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <h2 class="title-font font-weight-bold text-center mt-3">{% trans "Change Password" %}</h2>
    <hr class="w-50 mb-3">

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change bg-black text-white p-3 rounded-wrapper">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" name="action" class="primaryAction btn btn-orange rounded-pill my-2">
            <span class="text-uppercase">{% trans "Change Password" %}</span>
            <span class="icon">
                <i class="fas fa-key"></i>
            </span>
        </button>
    </form>
{% endblock %}
