{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}

    <h2 class="title-font font-weight-bold text-center mt-3">{% trans "Password Reset" %}</h2>
    <hr class="w-50 mb-3">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset bg-black text-white p-3 rounded-wrapper">
        {% csrf_token %}
        <fieldset class="bg-black pt-1">
            <legend class="fieldset_label px-3 w-auto text-white">
                <span class="icon">
                    <i class="fas fa-user"></i>
                </span>
                User Info
            </legend>
        {{ form|crispy }}
        </fieldset>
        <div class="text-right">
            <button type="submit" class="primaryAction btn btn-orange rounded-pill my-2">
                <span class="text-uppercase">{% trans 'Reset My Password' %}</span>
                <span class="icon">
                    <i class="fas fa-key"></i>
                </span>
            </button>
        </div>
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
