{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mb-2">
        <div class="row"> 
            <div class="col text-center mt-3">
                <h2 class="title-font font-weight-bold">Internal Server Error</h2>
                <hr class="w-50 mb-5">
                <div class="row">
                    <div class="col-12 offset-md-3 col-md-6">
                        <img src="{{ MEDIA_URL }}cycling-crash.gif" alt="Cycling animation" class="img-fluid">
                    </div>
                </div>
                <p>Mmmm! Something terrible has happened. The website has crashed. Please try a refresh!</p>
                <p>If the problem persists, please come back later.</p>
            </div>
        </div>
    </div>    
{% endblock %}